body{font-family: 'Roboto', sans-serif; background: url(../img/bg-pat.jpg); font-size: 15px;}

/* *{ transition: all ease-in .15s;} */
i{transition: all ease-in .02s;}

html, body{ height: 100%; color: #171717;}

h1{ font-size: 48px; line-height: normal; font-weight: 500;}
h2{font-size: 34px; line-height: normal; font-weight: 500;}
h3{font-size: 28px; line-height: normal; font-weight: 600;}
h4{font-size: 20px; line-height: normal; font-weight: 500;}
h5{font-size: 18px; line-height: normal; font-weight: 500;}
p{ line-height: 24px;}
table{color:#232323 !important;}
.font-24{ font-size: 24px; font-weight: 500;}
.font-20{ font-size: 20px;}

:root {
    --white: #fff;
    --d-grey: #666666;
   --blue: #0747A6;
   --l-grey: #D0D0D0;
   --black: #282828;
   --bright-gray: #323A45;
   --font-12: 12px;
   --font-13: 13px;
   --font-14: 14px;
   --mine-shaft: #232323;
   --sky-blue: #EBF5FF;
   --fiord: #475467;
}

.auth-outr{ display: flex; align-items: stretch; height: 100%;}
.auth-1{ display: flex; justify-content: center; align-items: center; background: #fff ;}
.auth-outr h3{ color: var(--blue); margin-bottom: 25px;}

.w-lg-500px {width: 500px;}
.w-lg-600px {width: 600px;}
.w-lg-750px {width: 750px;}

.p-10 { padding:0 2.5rem;}

.auth-logo{ margin-bottom: 50px; display: block;}
.auth-logo img{max-width: 190px;}

.w-10{ width: 10%;}
.w-20{ width: 20%;}
.w-30{ width: 30%;}
.w-40{ width: 40%;}
.w-45{ width: 45%;}
.w-50{ width: 50%;}
.w-55{ width: 55%;}
.w-60{ width: 60%;}

img{ max-width: 100%;}

.small-title{ color: #323A45;}
.small-title small{ color: #666;}
.d-grey{ color: var(--d-grey);}
.blue{ color: var(--blue);}
.bright-gray{ color: var(--bright-gray);}
.mine-shaft{ color: var(--mine-shaft);}
.river-bed{ color: #464E5F;}
.fiord{ color: var(--fiord);}
.black{ color: var(--black);}

.font-12{ font-size: var(--font-12);}
.font-13{ font-size: var(--font-13);}
.font-14{ font-size: var(--font-14);}

.mt-30{ margin-top: 30px;}

.round-6{ border-radius: 6px;}

.mw-750{ max-width: 750px;}
.fw-500{ font-weight: 500;}

/*  Authentication */

.form-group{ margin-bottom: 25px; position: relative;}

.auth-outr .form-group label {color: #181C32; font-size: 14px; margin-bottom:5px;}
.auth-outr .form-control{border-radius: 12px; background: #EEF1F5; border-color: #EEF1F5; display: block;  padding: 0.775rem 1rem; font-size: 14px; color: #8B8B8B; box-shadow: none; height: 62px;}

.btn{ text-align: center; vertical-align: middle; cursor: pointer; user-select: none; border-radius: 8px; box-shadow: none; padding: 12px 40px; transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out; font-weight: 500;}
.btn.btn-md{padding: 9px 30px; }
.btn.btn-sm{padding: 0.25rem 0.4rem; line-height: normal; }
.btn.btn-sm i{font-size: 23px; }
.black-btn{ background-color: #232323; color: #fff; border-color: #232323;}
.black-btn:hover{background: #0747A6; border-color: #0747A6; color: #fff;}

.form-group label{ color: #232323;}
.form-group .form-control{border-radius: 5px; border: 1px solid #D1D1D1; color:#666; font-size: 15px; min-height: 45px; padding: .6rem 1.2rem; }

.btn-primary{background: #0747A6; border-color:#0747A6;}
.btn-primary:hover{background: #232323; border-color:#232323;}
.btn[disabled]{background:#D0D0D0; border-color:#D0D0D0;}

.btn-primary.alter{border: 1px solid #D0D0D0; background: #FFF; color: #282828;}
.btn-primary.alter:hover{border: 1px solid #282828; background: #FFF;}
.btn[disabled]{border: 1px solid #D0D0D0; background: #FFF;}

.btn-light{color: var(--l-grey);}
.btn-light:hover{}

.btn-light-grey{ border: 1px solid #E6E9EB; background: #F1F5F7; color: #888C9F;}
.btn-light-grey:hover, .btn-light-grey:focus, .btn-light-grey:active{border-color: #E6E9EB}

.btn-secondary{ background-color: var(--d-grey); border-color: var(--d-grey);}
.btn-secondary:hover{background: #232323; border-color:#232323;}

.forgot-link{color: #666; font-size: 14px; font-style: normal; font-weight: 500; text-decoration: none; position: absolute; top: 2px; right: 0;}

.separator.separator-content::after,
.separator.separator-content::before { content: " "; width: 50%; border-bottom: 1px solid #EBF5FF;}

.separator.separator-content { display: flex; align-items: center; border-bottom: 0; text-align: center; margin: 20px 0; color:#666; font-size: 14px; font-weight: 500;}
.separator.separator-content span{ background:#F4F4F4; width: 36px; height: 36px; border-radius: 50px; padding: 8px;}


.bg1{background: url(../img/bg1.jpg);}
.bg2{background: url(../img/bg2.jpg);}

.auth-bg1{ background-size: cover; color: #fff; text-align: center; }
.auth-bg1 h2{ font-size: 36px; margin-bottom: 25px;}
.auth-bg1 p{ font-size: 18px;}

.auth-info{ display: flex; justify-content: center; align-items: center;}

.q-log {display: grid; gap: 20px; max-width: 245px; margin: auto;}
.q-log a{ border-radius: 8px; background: #E1F0FF; padding: 13px 18px; color: #3699FF;}
.q-log a img { vertical-align: middle; margin-right: 10px;}
.q-log a:hover{ background: #E1F0FF;}

/* settings */

.logo-part{max-width: 110px;}

.list-group ul{ list-style: none; margin: 0; padding: 0;}
.list-group ul li{ padding: .1rem .55rem;}
.list-group ul li.dropdown:after {content: "\e91b"; font-family: 'ico'; position: absolute; right: 0; color: #494B69; font-size: 25px; top: 0; line-height: normal; padding: 10px 15px; transform: rotate(0deg);}
.list-group ul li a{ position: relative; text-decoration: none; background-color: transparent; padding: .6rem 1rem; border-radius: 50px; color: #232323; font-weight: 500; line-height: normal; display: flex; align-items: center; cursor: pointer;}
.list-group ul li a i{ font-size: 23px; margin-right: 12px; }
.list-group ul li:hover>a,
.list-group ul li a:hover,
.list-group ul li.active>a{ background: var(--blue); color: var(--white);}

.list-group ul li:hover:after,
.list-group ul li.active:after{color: var(--white);}

.list-group ul ul{ padding-left: 25px; display: none;}
.list-group ul li li a{ color: var(--d-grey); font-size: 14px;}

.list-group ul li.show ul {display: block;}
.list-group ul li.show.dropdown:after{transform: rotate(180deg);}

.list-group ul li li:hover a,
.list-group ul li li a:hover{ color: var(--blue); background: transparent !important;}

.sidetoggle{ border: none; background: transparent; padding: .55rem; position: absolute; transform: translate(-70px, 0px); z-index: 11;}
.sidetoggle *{transition: .35s;}
.sb-sidenav-toggled .navbar-expand-lg .container-fluid{    padding-left: 90px;}
.sb-sidenav-toggled .sidetoggle img{transform: rotate(180deg);}

main{box-shadow: inset 0 0.46875rem 2.1875rem rgba(4,9,20,0.05), inset 0 0.9375rem 1.40625rem rgba(4,9,20,0.03), inset 0 0.25rem 0.53125rem rgba(4,9,20,0.05), inset 0 0.125rem 0.1875rem rgba(4,9,20,0.03); padding: 25px; min-height: calc(100vh - 72px);}

.navbar-expand-lg .container-fluid{ position: relative;}

.app-nav,
#sidebar-wrapper .sidebar-heading{ padding-top: 0.875rem; padding-bottom: 0.875rem;}
.app-nav { min-height: 71px;}

#sidebar-wrapper{ position: fixed; z-index: 10; top: 0; bottom: 0; left: 0; width: 16rem; height: 100%; overflow-y: scroll; display: flex; flex-direction: column;}

#sidebar-wrapper:hover::-webkit-scrollbar-thumb {background:rgb(0, 0, 0);}
#sidebar-wrapper::-webkit-scrollbar { width:5px; }
#sidebar-wrapper::-webkit-scrollbar-track { background:transparent; border-radius:0px; }
#sidebar-wrapper::-webkit-scrollbar-thumb { background:rgba(0, 0, 0, 0); border-radius:0px; }


.navbar-inner{ display: flex; justify-content: space-between; flex: auto; flex-wrap: wrap; align-items: center;}
.app-nav-left{ display: flex; gap: 20px; flex: 0 0 30%;}

.app-navbar ul.items{ display: flex; margin: 0; padding: 0; list-style: none; align-items: center; gap: 15px;}
.app-navbar ul.items li{ position: relative;}
.app-navbar ul.items li a.tap{ color: #232323; text-decoration: none; font-size: 23px; width: 24px; height: auto; line-height: normal; display: block; position: relative;}
.app-navbar ul.items li.profile{ color: #959CB6; font-weight: 500; cursor: pointer;}
.app-navbar ul.items li.profile span{ color: #6C7293;}
.app-navbar ul.items li.profile img{ width: 100%; height: 100%; object-fit: cover;}
.app-navbar ul.items li.profile figure{ width: 36px; height: 36px; border-radius: 4px; overflow: hidden; margin:0 0 0 16px; display: inline-block; vertical-align: middle;}

.app-navbar ul.items li.profile .dropdown-menu{ left: auto; right: 0; border-radius: 8px; min-width: 180px; margin-top: 10px;}
.app-navbar ul.items li.profile .dropdown-menu a{display: block; padding: 8px 12px; clear: both; line-height: 1.42857143; color: #232323; white-space: nowrap; text-decoration: none;}

.app-navbar ul.items li a .notification{ position: absolute; border-radius: 50px; width: 1.2rem; height: 1.2rem; padding: 0.3rem 0.1rem; font-size: 9px; font-weight: 500; transform: translate(-11px, -7px);}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus { color: #262626; text-decoration: none;background-color: #f5f5f5;}

.card{border-radius: 12px; background: #FFF; box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.15); border: none;}
.card .card-head,
.card .card-body{ padding: 1.85rem;}

.card .card-head{border-bottom: 1px solid #EEE;}
.card .card-head .toolbar{ display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;}

.brand-tabs{ padding: 0 1.85rem; border-bottom: 1px solid #EEE; gap: 45px; display: flex;}
.brand-tabs li a{color: var(--black); font-weight: 500; line-height: normal; display: block; padding: 25px 0; position: relative; display: flex; align-items: center;}
.brand-tabs li i{ font-size: 25px; margin-right: 8px;}
.brand-tabs li a::after{ content: ''; position: absolute; border-bottom: 4px solid transparent; left: 0; bottom: -1px; right: 0;}
.brand-tabs .nav-link.active::after{ border-color: var(--blue);}
.brand-tabs .nav-link.active, .brand-tabs .nav-item.show .nav-link{ color: var(--blue);}

.simple-link{color: #3699FF; font-weight: 500; line-height: normal; text-decoration-line: underline;}

.table.table-relax > :not(caption) > * > *{ padding: 1rem .5rem;}
.table.table-relax tr td:first-child{ width: 35px;}
.table.table-relax tr td{border-bottom-color: #D1D1D1;}
.table-relax.table-hover > tbody > tr:hover > *{ --bs-table-hover-bg: rgb(213 213 213 / 8%) !important}

.table .show-inner{display: flex; align-items: center; justify-content: space-between; gap: 20px;}
.table .show-inner .datble-drop{ flex: 1;}
.table .show-inner .min-max{ flex: .5;}

/* next appointment */

.next-appointment{ padding: 1.5rem 1rem; border-top: 1px solid #EEF1F5;  }

.apnt-box{border-radius: 5px; border: 1px solid #EEF1F5; background: #fff; box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.08); padding:  1rem; display: block; text-decoration: none; margin-bottom: 15px;}
.apnt-box:last-child{ margin-bottom: 0;}
.apnt-box time{ color: #888C9F; font-size: 14px; line-height: normal; display: flex; align-items: center; line-height: 1.5;}
.apnt-box time i{ font-size: 20px; color: #000; }

/* Toggle */

.toggle { box-sizing: border-box; display: flex; flex-flow: row nowrap; justify-content: flex-start; align-items: stretch;}
.toggle input { display: none; }
.toggle input + label:first-of-type { border-radius: 5px 0 0 5px; border-right: none; }
.toggle input + label:last-of-type { border-radius: 0 5px 5px 0; border-left: none;  }
.toggle input + label {margin: 0; padding: 0.6rem 2rem; box-sizing: border-box; position: relative; display: inline-block; border: solid 1px #D1D1D1; background-color: #fff; text-align: center; flex: 0 0 50%; display: flex; justify-content: center; align-items: center; min-height: 45px;
  /* transition: border-color 0.15s ease-out, color 0.25s ease-out, background-color 0.15s ease-out, box-shadow 0.15s ease-out; */
}
.toggle input + label i{ font-size: 23px; margin-left: 5px; display: none;}
.toggle input:checked + label i{ display: block;}
.toggle input:checked + label { background-color: var(--blue); color: #fff; border-color: var(--blue); z-index: 1;}


/* Modal */

.modal-content{ border-radius: 10px; border: none;}
.modal-header .btn-close{background-color: #D0D0D0; border-radius: 6px; background-size: 14px;}
.modal-header, .modal-footer{border-color: #D1D1D1 }
.modal-header, .modal-body, .modal-footer{ padding: 25px;}
.modal-footer > *{ margin: 0;}
.modal-footer{ display: flex; gap: 15px;}

.modal-xxl { max-width: 1440px; }


/* custom check box */

.cst-check input{ display: none;}
.cst-check span{height: 24px; width: 24px; display: inline-block; position: relative; background: #EEF1F5; border-radius: 5px; vertical-align: middle;}
.cst-check span:before{content: "\e91a"; position: absolute; line-height: normal; left: 3px; top: 3px; opacity: 0; color: #fff; font-family: 'ico'; font-size: 18px;}
.cst-check input:checked + span{ background: #232323;}
.cst-check input:checked + span:before{ opacity: 1;}

.cst-check input:disabled +  span{ opacity: .55;}


/* custom radio button */

.cst-radio{ vertical-align: middle;}
.cst-radio input{ display: none;}
.cst-radio span{height: 18px; width: 18px; display: inline-block; position: relative; border-radius: 50px; border: 1px solid #D1D1D1; position: relative; vertical-align: middle;}
.cst-radio span:before{ background: var(--blue); width: 8px; height: 8px; border-radius: 50px; content: ''; position: absolute; opacity: 0; margin: calc(50% - 4px);}
.cst-radio input:checked + span{ border-color: var(--blue) ;}
.cst-radio input:checked + span:before{ opacity: 1;}

.cst-radio input:disabled +  span{ opacity: .55;}


/* custom form switch */

.form-switch .form-check-input{ width: 50px; height: 20px;}
.form-switch .form-check-input:focus{background-blend-mode: luminosity;}

.green .form-check-input:checked{background-color: #84C529; border-color: rgb(132, 197, 41);}
.green .form-check-input:focus{border-color: #84C529; box-shadow: 0 0 0 0.25rem rgb(132 197 41 / 25%);}


/* Data table */

.all-db-table thead th {background-color: #F6F8FA; color: var(--blue); font-weight: 500; border-top:1px solid #EBF5FF; border-bottom:1px solid #EBF5FF;}
.all-db-table thead th[aria-sort="ascending"]{ background-color: #EBF5FF;}
.all-db-table.table > :not(caption) > * > *{ padding-top: 0.9rem; padding-bottom: 0.9rem;}
.all-db-table tbody tr:hover { background-color: #0747a608;}
.all-db-table tbody tr td{border-color:#EBF5FF;}
.blue-bold{ font-weight: 500; color: var(--blue); text-decoration: none;}
.action-box{ display: flex; gap: 8px;}

.all-db-table thead th.mine-shaft{ color: var(--mine-shaft);}

.all-db-table figure.photo{ margin: 0; width: 45px; height: 45px; border-radius: 50px; overflow: hidden;}
.all-db-table figure.photo img{ width: 100%; height: 100%; object-fit: cover; object-position: center;}

.cst-check.blue span{height: 17px; width: 17px; display: inline-block; position: relative;  border-radius: 3px; border: 1px solid #BFCBD9; background: #FFF;}
.cst-check.blue input:checked + span { background: #0747A6; border-color: #0747A6;}
.cst-check.blue span:before{ font-size: 13px; left: 1px; top: 1px;}

.all-db-table .tbl-title td,
.all-db-table .tbl-title th{ background-color: #EBF5FF;}


div.dataTables_wrapper div.dataTables_length select { width: auto; color: #4e75ad; display: inline-block;}
.form-inline .form-control { display: inline-block; width: auto; vertical-align: middle;}
.dataTables_length select { padding-top: 5px; height: inherit;}

.dataTables_length select{ border: 1px solid #bfcbd9;  color: #4E75AD; font-size: 14px; line-height: 1; height: 32px; border-radius: 3px;}
.dataTables_length { float: left; margin-right: 15px;}
.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) { border-top-right-radius: 0; border-bottom-right-radius: 0;}
.dt-buttons.btn-group .btn { color: #4e75ad; border-radius: 3px; font-size: 11.5px; padding-bottom: 6px; padding-top: 7px; text-transform: uppercase;}

.btn.btn-default-dt-options { color: #333; background-color: #fff; border: 1px solid #bfcbd9;}
.btn-group-vertical>.btn, .btn-group>.btn { position: relative; float: left; }

.dt-buttons{ position: relative;}
.dt-button-collection {position: absolute; left: 0; top: 100% !important; margin: 0; margin-top: 5px; padding: 0; border-radius: 6px; z-index: 9000; min-width: 160px; font-size: 14px; text-align: left; list-style: none; background-color: #fff;  border: 1px solid #bfcbd9;}
.dt-button-collection button{ border: none; color: #4e75ad; padding: 8px 16px; word-wrap: break-word; white-space: normal; font-weight: 400; line-height: 1.42857143; background: transparent; display: block;}

div.dataTables_filter { text-align: right; float: right;}

.form-inline .input-group .form-control, .form-inline .input-group .input-group-addon, .form-inline .input-group .input-group-btn { width: auto;}
.input-group-addon {border: 1px solid #bfcbd9; background-color: #fbfdff; color: #A1B4CC; padding: 3px 8px; font-size: 21px; line-height: 1; text-align: center;  border-radius: 4px; }
.search.input-group .form-control { position: relative; z-index: 2; float: left; margin-bottom: 0; -webkit-transition: width .3s ease; transition: width .3s ease; height: 31px; font-size: 14px;  border: 1px solid #bfcbd9; color: #A1B4CC; width: 140px;}

.h-44 .input-group-addon{padding-top: 9px; padding-bottom: 9px;}
.h-44.search.input-group .form-control{ height: 44px;}

.dataTables_filter input:focus { width: 160px; }

.dt-buttons, .dataTables_length, .dataTables_filter{ margin-bottom: 20px;}

.dataTables_info,
.dataTables_paginate{ margin-top: 1em;}
.dataTables_info{ float: left;}
.dataTables_paginate{ float: right;}
.dt-page-jump{ float: right;}
.dataTables_paginate a{ height: 2.35rem; min-width: 2.5rem; color: #337AB7; background-color: transparent; border: 1px solid #DDD; padding: 8px .75rem; text-decoration: none; display: inline-block; margin-left: -1px; cursor: pointer;}
.dataTables_paginate a.current{border-color:#282828; background:#282828; color: #fff;}

.dataTables_paginate a.previous{border-radius: 4px 0px 0px 4px;}
.dataTables_paginate a.disabled{ color: #777777; cursor: default;}
.dataTables_paginate a.next{border-radius: 0px 4px 4px 0px;}

.dt-page-jump select{margin-top: 1em; margin-left: 15px; border: 1px solid #ddd; width: auto; border-radius: 4px; border: 1px solid #DDD; width: 70px; padding: .5em;}

/* custom upload */

.gl-upload{border-radius: 10px; border: 1px solid #EFEFEF; background: #F9FAFC; display: flex; text-align: center; height: 150px; align-items: center; justify-content: center; position: relative;}
.gl-upload [type=file]{ opacity: 0; position: absolute; left: 0; top: 0; right: 0; bottom: 0;}
.gl-upload .up-icon{ opacity: .3; margin-bottom: 15px;}
.gl-upload .txt-up{ display: block; color: #B4B4B4; font-weight: 500;}

.form-group label.error{ color: #dc3545; margin-top: 5px; display: block;}

.profile-img{ margin: 0 auto 10px auto; overflow: hidden; border-radius: 50%; width: 110px; height: 110px;}
.profile-img img{ width: 100%; height: 100%; object-fit: cover;}

/*  custom  drop select */
.cst-drop-select .dropdown-toggle::after{content: "\e91b"; font-family: 'ico'; border: none; font-size: 30px; position: absolute; top: 0; right: 0;}
.cst-drop-select .btn-group > .btn:active{ border-color: #EEF1F5;}
.cst-drop-select .btn-group{border-radius: 0.375rem; background: #EEF1F5;}
.cst-drop-select .btn{color: #888C9F; padding-left: 20px; padding-right: 50px;}
.cst-drop-select .dropdown-menu{border-radius: 8px; border: 1px solid #D1D1D1; background: #FFF; box-shadow: 0px 6px 3px 0px rgba(0, 0, 0, 0.16); margin: 0; }

.cst-drop-select .dropdown-menu:hover::-webkit-scrollbar-thumb {background:rgb(0, 0, 0);}
.cst-drop-select .dropdown-menu::-webkit-scrollbar { width:5px; }
.cst-drop-select .dropdown-menu::-webkit-scrollbar-track { background:transparent; border-radius:0px; }
.cst-drop-select .dropdown-menu::-webkit-scrollbar-thumb { background:rgba(0, 0, 0, 0); border-radius:0px; }

.cst-drop-select .dropdown-menu li{ border-bottom:1px solid #F1F1F1;}
.cst-drop-select .dropdown-menu li:last-child{border: 0;}
.cst-drop-select .dropdown-menu a{padding: 12px 15px; display: block; text-decoration: none;}
.cst-drop-select .dropdown-menu a:hover{ background: transparent;}
.cst-drop-select .dropdown-menu label{ color: var(--d-grey); position: relative; padding-left: 30px; display: block;}
.cst-drop-select .dropdown-menu label input[type="checkbox"]{ position: absolute; opacity: 0;}

.cst-drop-select .dropdown-menu label:before,
.cst-drop-select .dropdown-menu .multiselect-item label:before{height: 20px; width: 20px ; display: inline-block; position: absolute; background: #EEF1F5; border-radius: 5px; vertical-align: middle; content:''; left: 0;}
.cst-drop-select .dropdown-menu label:after{content: "\e91a"; position: absolute; line-height: normal; left: 1px; top: 1px; opacity: 0; color: #fff; font-family: 'ico';
  font-size: 18px; }

.cst-drop-select .dropdown-menu .active label{ color: var(--mine-shaft); font-weight: 500;}
.cst-drop-select .dropdown-menu .active label:before,
.cst-drop-select .dropdown-menu .multiselect-item.active label:before{background: #232323;}

.cst-drop-select .dropdown-menu .active label:after,
.cst-drop-select .dropdown-menu .multiselect-item.active label:after{ opacity: 1;}

.open>.dropdown-menu { display: block; }

.dropdown-menu { position: absolute; top: 100%; left: 0; z-index: 1000; display: none; /*float: left;*/ min-width: 260px; list-style: none;}
.drop-right .dropdown-menu{ left: auto; right: 0;}

/* access level */

.tooltip-inner{ max-width: 300px; background-color: #fff; color: #000; border: 1px solid #aaa;}
.input-group-text{background: #EEF1F5; border-color: #D1D1D1; color: #666;}


/* Add Services */

.bor-box{border-radius: 8px; border: 1px solid #D1D1D1; background: #FFF;}
.pd-20{ padding: 20px;}
.btn-link{ color: #232323;}
.list-group-item{ border-color: rgba(209, 209, 209, 0.20);}
.ad-flus .list-group-item{ padding-left: 0; padding-right: 0;}

.spl-info{ position: relative;}
.spl-info  .pos-absolute{ position: absolute; top: 60%; text-align: center; width: 100%;}
.spl-info  .pos-absolute.top-80{ top: 80%;}


/* invoice popup  */

.invo-notice{border-radius: 8px; background: rgba(14, 165, 233, 0.05); padding: 15px; display: flex; justify-content: space-between; align-items: center;}
.inv-left{ color: var(--black);}
.inv-number{font-size: 18px; }
.inv-number span{font-weight: 600;}


/* working hour popup */

.nav-group{border:1px solid #D1D1D1; border-radius: 6px; overflow: hidden;}
.nav-pills.nav-group li{border-right: 1px solid #D1D1D1;}
.nav-pills.nav-group li:last-child{ border-right: 0;}
.nav-pills.nav-group .nav-link{ border-radius: 0; padding: 0.75rem 2rem; color: var(--d-grey); display: flex; align-items: center; justify-content: center;}
.nav-pills.nav-group .nav-link i{ font-size: 23px; display: none; }
.nav-pills.nav-group li:first-child .nav-link{ border-radius: 6px 0 0 6px;}
.nav-pills.nav-group li:last-child .nav-link{ border-radius: 0 6px 6px 0;}

.nav-pills.nav-group .nav-link.active, .nav-pills.nav-group .show > .nav-link{ background: var(--blue); color: var(--white);font-weight: 500;}
.nav-pills.nav-group .nav-link.active i { display: block;}

.cst-toggle .accordion-button{border-radius: 8px !important; background: rgba(218, 218, 218, 0.25); padding: 0.55rem 1rem; color: var(--black); font-weight: 500; position: relative;
  display: flex; align-items: center; }
.cst-toggle .accordion-button::after{content: "\e945"; font-family: 'ico'; font-size: 24px; color: var(--d-grey); transform: rotate(90deg); transition: all ease-in-out .15s;}
.cst-toggle .accordion-button:not(.collapsed)::after{transform: rotate(270deg);}

.cst-toggle .accordion-body{ padding: 1rem 0;}

.cst-toggle .accordion-item{ margin-bottom: 15px;}
.cst-toggle .accordion-item:last-child{ margin-bottom: 0;}

.btn-dashed{ border:  1px dashed ;}
.btn-red, .btn-red:hover{ border-color:#F00; color: #F00;}
.btn-blue, .btn-blue:hover{ border-color: var(--blue); color: var(--blue);}


[class*=icon-btn-]{ display: flex; align-items: center; }
.icon-btn-center{justify-content: center;}
.icon-btn-left{justify-content: flex-start;}
.icon-btn-right{justify-content: flex-end;}

[class*=check-gap]{ display: flex; flex-wrap: wrap;}
.check-gap30{ gap: 30px;}

/* Add Clients  */

.client-phbox{ display: flex; align-items: center; gap: 2px; flex-wrap: wrap; justify-content: flex-end;}
.client-phbox figure{ margin: 0; height: 82px; position: relative; width: 16.3%; flex: 0 0 auto;}
.client-phbox figure img{ object-fit: cover; width: 100%; height: 100%;}
.client-phbox figure .dt-delete{ position: absolute; top: 3px; right: 3px; padding: 0.1rem 0.25rem; height: 24px; width: 24px;}

.skyblue{ background-color: var(--sky-blue); color: var(--blue); border-color: var(--sky-blue);}
.skyblue:hover{ color: var(--blue); border-color: var(--blue); background: transparent;}

.file-hoder{ display: flex; flex-wrap: wrap; gap: 5px; justify-content: flex-end;}
.tag.btn{ padding: 12px 60px 12px 15px ; position: relative;}
.tag.btn .del{background-color: #232323; color: #fff; border-color: #232323; border-radius: 6px; padding: 0.2rem; line-height: normal; position: absolute; left: auto; right: 15px; font-size: 20px;}
.tag.btn .file-date{ color:  #232323; font-weight: 400; margin-left: auto; margin-right: auto;}


/* All forms */

.taskinfo-row{ padding: 0; margin: 0; list-style: none; display: flex;}
.taskinfo-row li{border-right: 1px solid #EEE; flex: auto; padding: 15px 25px;}
.taskinfo-row li:first-child{ padding-left: 0;}
.taskinfo-row li:last-child{ padding-right: 0; border: 0;}

.text-succes-light{color:#84C529;}


.text-bg-green{ background: #5CB85C;}
.text-succes{ color: #5CB85C;}

.text-bg-yellow{ background: #F2C12E;}
.text-yellow{ color: #F2C12E;}

.text-bg-light-red{ background: #FC6A76;}
.text-light-red{ color: #FC6A76;}


.text-bg-red{ background: #FF0000;}
.text-red{ color: #FF0000;}


.text-bg-cyan{ background: #0EA5E9;}
.text-cyan{ color: #0EA5E9;}



.text-bg-blue{ background: #0747a6;}

.badge{ border-radius: 4px; font-weight: normal; vertical-align: middle; position: relative;}
.badge.badge-circle{ border-radius: 50px; width: 2rem; height: 2rem; padding: .65rem .2rem;}

.badge-md{padding: 0.45rem 0.7rem ; font-size: 13px;}

.info-light{background: #CFEDFB;}

/* All services */

.no-pd{ padding: 0 !important;}
.ctg-greybox{ background: #F9F9F9; overflow-y: scroll; height: 100%;}
.ctg-greybox:hover::-webkit-scrollbar-thumb {background:rgb(0, 0, 0);}
.ctg-greybox::-webkit-scrollbar { width:4px;  }
.ctg-greybox::-webkit-scrollbar-track { background:#EDEDED; border-radius:0px; }
.ctg-greybox::-webkit-scrollbar-thumb { background:rgba(0, 0, 0, 0); border-radius:20px; }


.ctg-tree{ list-style: none; padding: 0; margin: 0;}
.ctg-tree li{ margin-bottom: 5px; }
.ctg-tree li a{ color: #000; font-weight: 500; line-height: normal; text-decoration: none;}
.ctg-tree li .count{ color: #3699FF; font-weight: 500;}

.ctg-tree li .disflex{display: flex; position: relative; justify-content: space-between; align-items: center; border-radius: 5px; padding: .6em .75em;}
.ctg-tree li.white-active .disflex{ background-color: #fff;}
.ctg-tree li.blue-active .disflex{ background-color: #0747A6;}
.ctg-tree li.blue-active a,
.ctg-tree li.blue-active .count{ color: #fff;}
.ctg-tree li.blue-active a{ margin-left: 32px;}

.ctg-tree li.blue-active .disflex:before{ height: 24px; width: 24px; display: inline-block; background: #EEF1F5; border-radius: 5px; vertical-align: middle; content: ''; position: absolute;}
.ctg-tree li.blue-active .disflex:after { content: "\e91a"; position: absolute; line-height: normal; left: 14px; top: 11px; color: #0747A6; font-family: 'ico'; font-size: 18px;}

.ctg-tree li ul{ list-style: none; padding: 0; margin: 5px 0 0 0;}
.ctg-tree li li {display: flex; position: relative; justify-content: space-between; align-items: center; border-radius: 5px; padding: .6em .75em; margin-bottom: 2px;}
.ctg-tree li li:hover{ background: rgba(54, 153, 255, 0.10);}
.ctg-tree li li a{ color: var(--d-grey) !important;  line-height: normal; margin: 0 ; font-weight: normal;}
.ctg-tree li.blue-active li a{ margin-left: 0;}
.ctg-tree li li .count{ color: #3699FF !important;}

.table-striped > tbody > tr:nth-of-type(odd) > *{ --bs-table-accent-bg: rgba(252, 252, 252, 1);}

/* Client card  */

.client-invo-notice{background: #EEF1F5; border-radius: 12px; padding: 1.85rem 1.5rem; display: flex; justify-content: space-between; align-items: center;}
.client-name{ display: flex; align-items: center; gap: 25px;}
.client-name .drop-cap{ display: flex; width: 60px; height: 60px; border-radius: 50px; font-size: 24px; font-weight: 500; justify-content: center; align-items: center;}
.client-name .client-info a{ text-decoration: none;}

.scaffold-layout-outr{ position: relative; height: 100vh;}
.scaffold-layout-list-details{ display: flex; gap: 30px; height: 100%; overflow: hidden; position: static; width: 100%;}
.scaffold-layout-list{ display: flex; flex: 3; flex-direction: column; }
.scaffold-layout-detail{flex: 3; overflow-y: auto; overflow-x: hidden; }

.scaffold-layout-list-container{ list-style: none; padding: 0; margin: 0; overflow-y: auto; overflow-x: hidden; position: relative;}
.scaffold-layout-list-container:hover::-webkit-scrollbar-thumb {background:rgba(0, 0, 0, 0.025);}
.scaffold-layout-list-container::-webkit-scrollbar { width:5px; }
.scaffold-layout-list-container::-webkit-scrollbar-track { background:transparent; border-radius:0px; }
.scaffold-layout-list-container::-webkit-scrollbar-thumb { background:rgba(0, 0, 0, 0); border-radius:0px; }

.scaffold-layout-detail:hover::-webkit-scrollbar-thumb {background:rgba(0, 0, 0, 0.025);}
.scaffold-layout-detail::-webkit-scrollbar { width:5px; }
.scaffold-layout-detail::-webkit-scrollbar-track { background:transparent; border-radius:0px; }
.scaffold-layout-detail::-webkit-scrollbar-thumb { background:rgba(0, 0, 0, 0); border-radius:0px; }

.scaffold-layout-list-item{ display: flex;}
.scaffold-layout-list-item .appt-timeplace{ color: #282828; font-weight: 500; line-height: 20px; width: 135px; padding-right: 2rem; padding-left: 0.5em;}
.scaffold-layout-list-item .appt-details{ flex: auto; border-left: 2px solid #E4E7EC; padding-left: 2rem; color: #667085; font-weight: 500; position: relative;}
.scaffold-layout-list-item .appt-details:before{ content: ''; position: absolute; border-left:1px solid transparent; left: 0; top: 0; bottom: 0;}
.scaffold-layout-list-item .appt-details .his-detaiils{ margin-bottom: 22px;}
.scaffold-layout-list-item .appt-details .his-detaiils:last-child{ margin-bottom: 0;}
.scaffold-layout-list-item .appt-details .his-detaiils .badge{padding: .65rem; font-size: 15px; font-weight: 500; border-radius: 8px;}
.scaffold-layout-list-item .appt-details .his-detaiils .badge.badge-icon{padding-left: 2.5em;}

.badge-alter{ background: transparent; border: 1px solid;}
.badge-icon{padding-left: 2.5em;}
.badge-icon i{ position: absolute; transform: translate(calc(50% - 7px), calc(50% - 16px)); left: 0;}
.badge-note{ border: 2px solid #D0D5DD; color: #0747A6; text-decoration: none;}
.badge-black{ border: 2px solid #282828; color: #fff; background-color: #282828;}

.scaffold-layout-list-item .appt-timeplace, .scaffold-layout-list-item .appt-details{ padding-top: 1em; padding-bottom: 1em;}

.scaffold-layout-list-item.active{background-color: #F7FCFE;}
.scaffold-layout-list-item.active .appt-details{ border-color: #0747A6;}
.scaffold-layout-list-item.active .appt-details:before{ border-color: var(--blue);}
.scaffold-layout-list-item.active .appt-details .pointer{ border-radius: 0; position: absolute; right: 0; left: auto; top: 50%; transform: translate(0, calc(50% - 3em));}

.add-note-btn-box .btn{padding: 0.5em 1.2em; border-radius: 6px;}
.add-note-btn-box .btn-primary.alter{ border-color: #666; background: transparent;}

.yellow-note-box{border-radius: 12px; border-left: 3px solid rgba(242, 193, 46, 0.30); background: #FCF8E3; padding: 1.5em; color: #232323; font-size: 14px; line-height: 1.5em; margin-bottom: 10px;}

.gallery.client-phbox{justify-content: flex-start; gap: 10px;}
.client-phbox.grid-4 figure{width: calc(20% + 1.45em); height: 120px;}

.gap-2{gap: 2px;}

.gallery.client-phbox.gap-2{gap: 2px !important;}
.gallery.client-phbox.gap-2.grid-6 figure{width: 16.5%;}
.gallery.client-phbox.gap-2.grid-6.h-188 figure{ height: 188px;} 


/*  Responsive  */

@media (min-width: 768px) {
    #page-content-wrapper{margin-left: 16rem; transition: margin 0.25s ease-out;}
    body.sb-sidenav-toggled #wrapper #page-content-wrapper { margin-left: 0rem; }
  }


@media (max-width: 1024px) {
    .w-40, .w-60{ width: 50%; }
    .w-lg-750px, .w-lg-500px{ width: 100%;}
    .auth-outr .form-control{ height: 50px;}
    .auth-logo{margin-bottom: 30px;}
    .form-group{ margin-bottom: 15px;}
    .client-phbox figure{width: auto;}
}
@media (max-width: 991px) {
    .forgot-link{ position: static; margin-top: 6px; display: inline-block;}
    .auth-bg1 h2{font-size: 25px;}
    h3{ font-size: 24px;}
    .auth-logo img { max-width: 120px; }

}
@media (max-width: 767px) {
    .auth-outr{ flex-wrap: wrap;}
    .w-40, .w-60 { width: 100%;}
    .auth-bg1{ order: 1;}
    .auth-1{ order: 2;}
    .p-10 { padding: 1rem;}
    
}