body{font-family: 'Roboto', sans-serif; background: url(../img/bg-pat.jpg); font-size: 15px;}

/* *{ transition: all ease-in .15s;} */
i{transition: all ease-in .02s;}

html, body{ height: 100%; color: #171717;}

h1{ font-size: 48px; line-height: normal; font-weight: 500;}
h2{font-size: 34px; line-height: normal; font-weight: 500;}
h3{font-size: 28px; line-height: normal; font-weight: 600;}
h4{font-size: 18px; line-height: normal; font-weight: 500;}
h5{font-size: 16px; line-height: normal; font-weight: 500;}
p{ line-height: 24px;}
table{color:#232323 !important;}

:root {
    --white: #fff;
    --d-grey: #666666;
   --blue: #0747A6;
   --l-grey: #D0D0D0;
   --black: #282828;
   --bright-gray: #323A45;
   --font-12: 12px;
   --font-13: 13px;
   --font-14: 14px;
}

.auth-outr{ display: flex; align-items: stretch; height: 100%;}
.auth-1{ display: flex; justify-content: center; align-items: center; background: #fff ;}
.auth-outr h3{ color: var(--blue); margin-bottom: 25px;}

.w-lg-500px {width: 500px;}
.w-lg-600px {width: 600px;}
.w-lg-750px {width: 750px;}

.p-10 { padding:0 2.5rem;}

.auth-logo{ margin-bottom: 50px; display: block;}
.auth-logo img{max-width: 190px;}

.w-40{ width: 40%;}
.w-45{ width: 45%;}
.w-50{ width: 50%;}
.w-55{ width: 55%;}
.w-60{ width: 60%;}

img{ max-width: 100%;}

/*  Authentication */

.form-group{ margin-bottom: 25px; position: relative;}
.auth-outr .form-group label {color: #181C32; font-size: 14px; margin-bottom:5px;}
.auth-outr .form-control{border-radius: 12px; background: #EEF1F5; border-color: #EEF1F5; display: block;  padding: 0.775rem 1rem; font-size: 14px; color: #8B8B8B; box-shadow: none; height: 62px;}

.btn{ text-align: center; vertical-align: middle; cursor: pointer; user-select: none; border-radius: 8px; box-shadow: none; padding: 12px 40px; transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out; font-weight: 500;}
.btn.btn-md{padding: 9px 30px; }
.btn.btn-sm{padding: 0.25rem 0.4rem; line-height: normal; }
.btn.btn-sm i{font-size: 23px; }
.black-btn{ background-color: #232323; color: #fff; border-color: #232323;}
.black-btn:hover{background: #0747A6; border-color: #0747A6; color: #fff;}

.round-6{ border-radius: 6px;}

.form-group label{ color: #232323;}
.form-group .form-control{border-radius: 5px; border: 1px solid #D1D1D1; color:#666; font-size: 15px; min-height: 40px; padding: .6rem 1.2rem; }


.btn-primary{background: #0747A6; border-color:#0747A6;}
.btn-primary:hover{background: #232323; border-color:#232323;}
.btn[disabled]{background:#D0D0D0; border-color:#D0D0D0;}

.btn-primary.alter{border: 1px solid #D0D0D0; background: #FFF; color: #282828;}
.btn-primary.alter:hover{border: 1px solid #282828; background: #FFF;}
.btn[disabled]{border: 1px solid #D0D0D0; background: #FFF;}

.btn-light{color: var(--l-grey);}
.btn-light:hover{}


.mt-30{ margin-top: 30px;}
.forgot-link{color: #666; font-size: 14px; font-style: normal; font-weight: 500; text-decoration: none; position: absolute; top: 2px; right: 0;}

.separator.separator-content::after,
.separator.separator-content::before { content: " "; width: 50%; border-bottom: 1px solid #EBF5FF;}

.separator.separator-content { display: flex; align-items: center; border-bottom: 0; text-align: center; margin: 20px 0; color:#666; font-size: 14px; font-weight: 500;}
.separator.separator-content span{ background:#F4F4F4; width: 36px; height: 36px; border-radius: 50px; padding: 8px;}


.bg1{background: url(../img/bg1.jpg);}
.bg2{background: url(../img/bg2.jpg);}

.auth-bg1{ background-size: cover; color: #fff; text-align: center; }
.auth-bg1 h2{ font-size: 36px; margin-bottom: 25px;}
.auth-bg1 p{ font-size: 18px;}

.auth-info{ display: flex; justify-content: center; align-items: center;}

.q-log {display: grid; gap: 20px; max-width: 245px; margin: auto;}
.q-log a{ border-radius: 8px; background: #E1F0FF; padding: 13px 18px; color: #3699FF;}
.q-log a img { vertical-align: middle; margin-right: 10px;}
.q-log a:hover{ background: #E1F0FF;}

/* settings */

.logo-part{max-width: 110px;}

.list-group ul{ list-style: none; margin: 0; padding: 0;}
.list-group ul li{ padding: .1rem .55rem;}
.list-group ul li.dropdown:after {content: "\e91b"; font-family: 'ico'; position: absolute; right: 0; color: #494B69; font-size: 25px; top: 0; line-height: normal; padding: 10px 15px; transform: rotate(0deg);}
.list-group ul li a{ position: relative; text-decoration: none; background-color: transparent; padding: .6rem 1rem; border-radius: 50px; color: #232323; font-weight: 500; line-height: normal; display: flex; align-items: center;}
.list-group ul li a i{ font-size: 23px; margin-right: 12px; }
.list-group ul li:hover>a,
.list-group ul li a:hover,
.list-group ul li.active>a{ background: var(--blue); color: var(--white);}

.list-group ul li:hover:after,
.list-group ul li.active:after{color: var(--white);}

.list-group ul ul{ padding-left: 25px; display: none;}
.list-group ul li li a{ color: var(--d-grey); font-size: 14px;}

.list-group ul li.show ul {display: block;}
.list-group ul li.show.dropdown:after{transform: rotate(180deg);}

.list-group ul li li:hover a,
.list-group ul li li a:hover{ color: var(--blue); background: transparent !important;}

.sidetoggle{ border: none; background: transparent; padding: .55rem; position: absolute; transform: translate(-70px, 0px); z-index: 11;}
.sidetoggle *{transition: .35s;}
.sb-sidenav-toggled .navbar-expand-lg .container-fluid{    padding-left: 90px;}
.sb-sidenav-toggled .sidetoggle img{transform: rotate(180deg);}

main{box-shadow: inset 0 0.46875rem 2.1875rem rgba(4,9,20,0.05), inset 0 0.9375rem 1.40625rem rgba(4,9,20,0.03), inset 0 0.25rem 0.53125rem rgba(4,9,20,0.05), inset 0 0.125rem 0.1875rem rgba(4,9,20,0.03); padding: 25px; /*height: 100vh;*/}

.navbar-expand-lg .container-fluid{ position: relative;}

.app-nav,
#sidebar-wrapper .sidebar-heading{ padding-top: 0.875rem; padding-bottom: 0.875rem;}
.app-nav { min-height: 71px;}

#sidebar-wrapper{ position: fixed; z-index: 10; top: 0; bottom: 0; left: 0; width: 16rem; height: 100%; overflow-y: scroll; display: flex; flex-direction: column;}

#sidebar-wrapper:hover::-webkit-scrollbar-thumb {background:rgb(0, 0, 0);}
#sidebar-wrapper::-webkit-scrollbar { width:5px; }
#sidebar-wrapper::-webkit-scrollbar-track { background:transparent; border-radius:0px; }
#sidebar-wrapper::-webkit-scrollbar-thumb { background:rgba(0, 0, 0, 0); border-radius:0px; }


.navbar-inner{ display: flex; justify-content: space-between; flex: 1 0 auto;     align-items: center;}
.app-nav-left{ display: flex; gap: 20px; flex: 0 0 30%;}

.app-navbar ul.items{ display: flex; margin: 0; padding: 0; list-style: none; align-items: center; gap: 15px;}
.app-navbar ul.items li{ position: relative;}
.app-navbar ul.items li a.tap{ color: #232323; text-decoration: none; font-size: 23px; width: 24px; height: auto; line-height: normal; display: block;}
.app-navbar ul.items li.profile{ color: #959CB6; font-weight: 500; cursor: pointer;}
.app-navbar ul.items li.profile span{ color: #6C7293;}
.app-navbar ul.items li.profile img{ margin-left: 16px;}

.app-navbar ul.items li.profile .dropdown-menu{ left: auto; right: 0; border-radius: 8px; min-width: 180px; margin-top: 10px;}
.app-navbar ul.items li.profile .dropdown-menu a{display: block; padding: 8px 12px; clear: both; line-height: 1.42857143; color: #232323; white-space: nowrap; text-decoration: none;}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus { color: #262626; text-decoration: none;background-color: #f5f5f5;}

.card{border-radius: 12px; background: #FFF; box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.15); border: none;}
.card .card-head,
.card .card-body{ padding: 1.85rem;}

.card .card-head{border-bottom: 1px solid #EEE;}
.card .card-head .toolbar{ display: flex; justify-content: space-between; align-items: center;}

.brand-tabs{ padding: 0 1.85rem; border-bottom: 1px solid #EEE; gap: 45px; display: flex;}
.brand-tabs li a{color: var(--black); font-weight: 500; line-height: normal; display: block; padding: 25px 0; position: relative; display: flex; align-items: center;}
.brand-tabs li i{ font-size: 25px; margin-right: 8px;}
.brand-tabs li a::after{ content: ''; position: absolute; border-bottom: 4px solid transparent; left: 0; bottom: -1px; right: 0;}
.brand-tabs .nav-link.active::after{ border-color: var(--blue);}
.brand-tabs .nav-link.active, .brand-tabs .nav-item.show .nav-link{ color: var(--blue);}

.small-title{ color: #323A45;}
.small-title small{ color: #666;}
.d-grey{ color: var(--d-grey);}
.bright-gray{ color: var(--bright-gray);}

.font-12{ font-size: var(--font-12);}
.font-13{ font-size: var(--font-13);}
.font-14{ font-size: var(--font-14);}

.simple-link{color: #3699FF; font-weight: 500; line-height: normal; text-decoration-line: underline;}

.mw-750{ max-width: 750px;}
.fw-500{ font-weight: 500;}

.table.table-relax > :not(caption) > * > *{ padding: 1rem .5rem;}
.table.table-relax tr td:first-child{ width: 35px;}
.table.table-relax tr td{border-bottom-color: #D1D1D1;}
.table-relax.table-hover > tbody > tr:hover > *{ --bs-table-hover-bg: rgb(213 213 213 / 8%) !important}

.table .show-inner{display: flex; align-items: center; justify-content: space-between; gap: 20px;}
.table .show-inner .datble-drop{ flex: 1;}

/* Toggle */

.toggle { box-sizing: border-box; display: flex; flex-flow: row nowrap; justify-content: flex-start; align-items: stretch;}
.toggle input { display: none; }
.toggle input + label:first-of-type { border-radius: 5px 0 0 5px; border-right: none; }
.toggle input + label:last-of-type { border-radius: 0 5px 5px 0; border-left: none;  }
.toggle input + label {margin: 0; padding: 0.75rem 2rem; box-sizing: border-box; position: relative; display: inline-block; border: solid 1px #ddd; background-color: #fff; text-align: center; flex: 0 0 50%; display: flex; justify-content: center; align-items: center;
  /* transition: border-color 0.15s ease-out, color 0.25s ease-out, background-color 0.15s ease-out, box-shadow 0.15s ease-out; */
}
.toggle input + label i{ font-size: 23px; margin-left: 5px; display: none;}
.toggle input:checked + label i{ display: block;}
.toggle input:checked + label { background-color: var(--blue); color: #fff; border-color: var(--blue); z-index: 1;}


/* Modal */

.modal-content{ border-radius: 10px; border: none;}
.modal-header .btn-close{background-color: #D0D0D0; border-radius: 6px; background-size: 14px;}
.modal-header, .modal-footer{border-color: #D1D1D1 }
.modal-header, .modal-body, .modal-footer{ padding: 25px;}
.modal-footer > *{ margin: 0;}
.modal-footer{ display: flex; gap: 15px;}

.modal-xxl { max-width: 1440px; }


/* custom check box */

.cst-check input{ display: none;}
.cst-check span{height: 24px; width: 24px; display: inline-block; position: relative; background: #EEF1F5; border-radius: 5px;}
.cst-check span:before{content: "\e91a"; position: absolute; line-height: normal; left: 3px; top: 3px; opacity: 0; color: #fff; font-family: 'ico'; font-size: 18px;}
.cst-check input:checked + span{ background: #232323;}
.cst-check input:checked + span:before{ opacity: 1;}

.cst-check input:disabled +  span{ opacity: .55;}

/* custom form switch */

.form-switch .form-check-input{ width: 50px; height: 20px;}
.form-switch .form-check-input:focus{background-blend-mode: luminosity;}

.green .form-check-input:checked{background-color: #84C529; border-color: rgb(132, 197, 41);}
.green .form-check-input:focus{border-color: #84C529; box-shadow: 0 0 0 0.25rem rgb(132 197 41 / 25%);}


/* Data table */

.all-db-table thead th {background-color: #F6F8FA; color: var(--blue); font-weight: 500; border-top:1px solid #EBF5FF; border-bottom:1px solid #EBF5FF;}
.all-db-table thead th[aria-sort="ascending"]{ background-color: #EBF5FF;}
.all-db-table.table > :not(caption) > * > *{ padding-top: 0.9rem; padding-bottom: 0.9rem;}
.all-db-table tbody tr:hover { background-color: #0747a608;}
.all-db-table tbody tr td{border-color:#EBF5FF;}
.blue-bold{ font-weight: 500; color: var(--blue); text-decoration: none;}
.action-box{ display: flex; gap: 8px;}

.all-db-table figure.photo{ margin: 0; width: 45px; height: 45px; border-radius: 50px; overflow: hidden;}
.all-db-table figure.photo img{ width: 100%; height: 100%; object-fit: cover; object-position: center;}

.cst-check.blue span{height: 17px; width: 17px; display: inline-block; position: relative;  border-radius: 3px; border: 1px solid #BFCBD9; background: #FFF;}
.cst-check.blue input:checked + span { background: #0747A6; border-color: #0747A6;}
.cst-check.blue span:before{ font-size: 13px; left: 1px; top: 1px;}

.all-db-table .tbl-title td,
.all-db-table .tbl-title th{ background-color: #EBF5FF;}


div.dataTables_wrapper div.dataTables_length select { width: auto; color: #4e75ad; display: inline-block;}
.form-inline .form-control { display: inline-block; width: auto; vertical-align: middle;}
.dataTables_length select { padding-top: 5px; height: inherit;}

.dataTables_length select{ border: 1px solid #bfcbd9;  color: #4E75AD; font-size: 14px; line-height: 1; height: 32px; border-radius: 3px;}
.dataTables_length { float: left; margin-right: 15px;}
.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) { border-top-right-radius: 0; border-bottom-right-radius: 0;}
.dt-buttons.btn-group .btn { color: #4e75ad; border-radius: 3px; font-size: 11.5px; padding-bottom: 6px; padding-top: 7px; text-transform: uppercase;}

.btn.btn-default-dt-options { color: #333; background-color: #fff; border: 1px solid #bfcbd9;}
.btn-group-vertical>.btn, .btn-group>.btn { position: relative; float: left; }

.dt-buttons{ position: relative;}
.dt-button-collection {position: absolute; left: 0; top: 100% !important; margin: 0; margin-top: 5px; padding: 0; border-radius: 6px; z-index: 9000; min-width: 160px; font-size: 14px; text-align: left; list-style: none; background-color: #fff;  border: 1px solid #bfcbd9;}
.dt-button-collection button{ border: none; color: #4e75ad; padding: 8px 16px; word-wrap: break-word; white-space: normal; font-weight: 400; line-height: 1.42857143; background: transparent; display: block;}

div.dataTables_filter { text-align: right; float: right;}

.form-inline .input-group .form-control, .form-inline .input-group .input-group-addon, .form-inline .input-group .input-group-btn { width: auto;}
.input-group-addon {border: 1px solid #bfcbd9; background-color: #fbfdff; color: #A1B4CC; padding: 3px 8px; font-size: 21px; line-height: 1; text-align: center;  border-radius: 4px; }
.all-db-table .input-group .form-control { position: relative; z-index: 2; float: left; width: 100px; margin-bottom: 0; -webkit-transition: width .3s ease; transition: width .3s ease; height: 31px; font-size: 14px;  border: 1px solid #bfcbd9; color: #A1B4CC;}

.dataTables_filter input:focus { width: 160px; }

.dt-buttons, .dataTables_length, .dataTables_filter{ margin-bottom: 20px;}

.dataTables_info,
.dataTables_paginate{ margin-top: 1em;}
.dataTables_info{ float: left;}
.dataTables_paginate{ float: right;}
.dt-page-jump{ float: right;}
.dataTables_paginate a{ height: 2.35rem; min-width: 2.5rem; color: #337AB7; background-color: transparent; border: 1px solid #DDD; padding: 8px .75rem; text-decoration: none; display: inline-block; margin-left: -1px; cursor: pointer;}
.dataTables_paginate a.current{border-color:#282828; background:#282828; color: #fff;}

.dataTables_paginate a.previous{border-radius: 4px 0px 0px 4px;}
.dataTables_paginate a.disabled{ color: #777777; cursor: default;}
.dataTables_paginate a.next{border-radius: 0px 4px 4px 0px;}

.dt-page-jump select{margin-top: 1em; margin-left: 15px; border: 1px solid #ddd; width: auto; border-radius: 4px; border: 1px solid #DDD; width: 70px; padding: .5em;}

/* custom upload */

.gl-upload{border-radius: 10px; border: 1px solid #D1D1D1; background: #EEF1F5; display: flex; text-align: center; height: 150px; align-items: center; justify-content: center;}
.gl-upload [type=file]{ opacity: .1; display: none;}
.gl-upload .up-icon{ opacity: .3; margin-bottom: 15px;}
.gl-upload .txt-up{ display: block; color: #B4B4B4; font-weight: 500;}

.form-group label.error{ color: #dc3545; margin-top: 5px; display: block;}



.profile-img{ margin: 0 auto 10px auto; overflow: hidden; border-radius: 50%; width: 110px; height: 110px;}
.profile-img img{ width: 100%; height: 100%; object-fit: cover;}


/* access level */

.tooltip-inner{ max-width: 300px; background-color: #fff; color: #000; border: 1px solid #aaa;}
.input-group-text{background: #EEF1F5; border-color: #D1D1D1; color: #666;}


/* Add Services */

.bor-box{border-radius: 8px; border: 1px solid #D1D1D1; background: #FFF;}
.pd-20{ padding: 20px;}
.btn-link{ color: #232323;}
.list-group-item{ border-color: rgba(209, 209, 209, 0.20);}
.ad-flus .list-group-item{ padding-left: 0; padding-right: 0;}

.spl-info{ position: relative;}
.spl-info  .pos-absolute{ position: absolute; top: 60%; text-align: center; width: 100%;}
.spl-info  .pos-absolute.top-80{ top: 80%;}



.open>.dropdown-menu { display: block; }
.dropdown-menu { position: absolute; top: 100%; left: 0; z-index: 1000; display: none; float: left; min-width: 160px; padding: 5px 0; margin: 2px 0 0; list-style: none; background-color: #fff; border: 1px solid #ccc; border: 1px solid rgba(0,0,0,0.2); *border-right-width: 2px; *border-bottom-width: 2px; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2); -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2); box-shadow: 0 5px 10px rgba(0,0,0,0.2); -webkit-background-clip: padding-box; -moz-background-clip: padding; background-clip: padding-box;}



/*  Responsive  */

@media (min-width: 768px) {
    #page-content-wrapper{margin-left: 16rem; transition: margin 0.25s ease-out;}
    body.sb-sidenav-toggled #wrapper #page-content-wrapper { margin-left: 0rem; }
  }


@media (max-width: 1024px) {
    .w-40, .w-60{ width: 50%; }
    .w-lg-750px, .w-lg-500px{ width: 100%;}
    .auth-outr .form-control{ height: 50px;}
    .auth-logo{margin-bottom: 30px;}
    .form-group{ margin-bottom: 15px;}
}
@media (max-width: 991px) {
    .forgot-link{ position: static; margin-top: 6px; display: inline-block;}
    .auth-bg1 h2{font-size: 25px;}
    h3{ font-size: 24px;}
    .auth-logo img { max-width: 120px; }

}
@media (max-width: 767px) {
    .auth-outr{ flex-wrap: wrap;}
    .w-40, .w-60 { width: 100%;}
    .auth-bg1{ order: 1;}
    .auth-1{ order: 2;}
    .p-10 { padding: 1rem;}
}