@font-face {
  font-family: 'ico';
  src:  url('../fonts/ico.eot?hvfieb');
  src:  url('../fonts/ico.eot?hvfieb#iefix') format('embedded-opentype'),
    url('../fonts/ico.ttf?hvfieb') format('truetype'),
    url('../fonts/ico.woff?hvfieb') format('woff'),
    url('../fonts/ico.svg?hvfieb#ico') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ico-"], [class*=" ico-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ico' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-eye:before {
  content: "\e94c";
}
.ico-photo:before {
  content: "\e93f";
}
.ico-add:before {
  content: "\e921";
}
.ico-card-receive:before {
  content: "\e922";
}
.ico-cards:before {
  content: "\e923";
}
.ico-card-tick:before {
  content: "\e924";
}
.ico-cart:before {
  content: "\e925";
}
.ico-clipboard-text:before {
  content: "\e926";
}
.ico-clock:before {
  content: "\e927";
}
.ico-copy:before {
  content: "\e928";
}
.ico-danger:before {
  content: "\e929";
}
.ico-directbox-notify:before {
  content: "\e92a";
}
.ico-dollar:before {
  content: "\e92b";
}
.ico-dollar-square:before {
  content: "\e92c";
}
.ico-download:before {
  content: "\e92d";
}
.ico-draft:before {
  content: "\e92e";
}
.ico-edit-thin:before {
  content: "\e92f";
}
.ico-file-text:before {
  content: "\e930";
}
.ico-filter:before {
  content: "\e931";
}
.ico-folder:before {
  content: "\e932";
}
.ico-graph:before {
  content: "\e933";
}
.ico-import:before {
  content: "\e934";
}
.ico-info .path1:before {
  content: "\e935";
  color: rgb(0, 0, 0);
}
.ico-info .path2:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.ico-info .path3:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.ico-info-italic:before {
  content: "\e938";
}
.ico-left-arrow:before {
  content: "\e939";
}
.ico-minus-circle:before {
  content: "\e93a";
}
.ico-nav-dots:before {
  content: "\e93b";
}
.ico-noun-arrow:before {
  content: "\e93c";
}
.ico-pdf:before {
  content: "\e93d";
}
.ico-percentage:before {
  content: "\e93e";
}
.ico-plus-circle:before {
  content: "\e940";
}
.ico-png:before {
  content: "\e941";
}
.ico-print:before {
  content: "\e942";
}
.ico-print3:before {
  content: "\e943";
}
.ico-print-line:before {
  content: "\e944";
}
.ico-right-arrow:before {
  content: "\e945";
}
.ico-task:before {
  content: "\e946";
}
.ico-ticket-discount:before {
  content: "\e947";
}
.ico-truck:before {
  content: "\e948";
}
.ico-user2:before {
  content: "\e949";
}
.ico-vouocher:before {
  content: "\e94a";
}
.ico-word:before {
  content: "\e94b";
}
.ico-help:before {
  content: "\e920";
}
.ico-drop-arrow:before {
  content: "\e91b";
}
.ico-edit:before {
  content: "\e91c";
}
.ico-location1:before {
  content: "\e91d";
}
.ico-mini-search:before {
  content: "\e91e";
}
.ico-trash:before {
  content: "\e91f";
}
.ico-correct:before {
  content: "\e91a";
}
.ico-close:before {
  content: "\e918";
}
.ico-tick:before {
  content: "\e919";
}
.ico-appt-reminder:before {
  content: "\e900";
}
.ico-branding:before {
  content: "\e901";
}
.ico-business-settings:before {
  content: "\e902";
}
.ico-calendar:before {
  content: "\e903";
}
.ico-client:before {
  content: "\e904";
}
.ico-dashboard:before {
  content: "\e905";
}
.ico-double-left-active:before {
  content: "\e906";
}
.ico-enquiries:before {
  content: "\e907";
}
.ico-equalizer:before {
  content: "\e908";
}
.ico-finance:before {
  content: "\e909";
}
.ico-forms:before {
  content: "\e90a";
}
.ico-locations:before {
  content: "\e90b";
}
.ico-my-account:before {
  content: "\e90c";
}
.ico-notification:before {
  content: "\e90d";
}
.ico-payment-gateway:before {
  content: "\e90e";
}
.ico-products:before {
  content: "\e90f";
}
.ico-promotion:before {
  content: "\e910";
}
.ico-reports:before {
  content: "\e911";
}
.ico-search:before {
  content: "\e912";
}
.ico-services:before {
  content: "\e913";
}
.ico-settings:before {
  content: "\e914";
}
.ico-staff:before {
  content: "\e915";
}
.ico-staff-user:before {
  content: "\e916";
}
.ico-templates:before {
  content: "\e917";
}
